<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Agregar libro</title>
</head>
<body>

<h2>Agregar libro</h2>

<form method="POST">
  {% csrf_token %}

  <input type="text" name="title" placeholder="Título"><br><br>
  <input type="text" name="author" placeholder="Autor"><br><br>
  <input type="text" name="image" placeholder="URL imagen"><br><br>

  <label>Categoría:</label>
  <select name="category">
    {% for c in categories %}
      <option value="{{ c.id }}">{{ c.title }}</option>
    {% endfor %}
  </select><br><br>

  <button type="submit">Guardar</button>
</form>

<a href="{% url 'home' %}">Volver</a>

</body>
</html>